{{yield}}
  <div class="col-md-3 accordion">
    {{#each student as |item|}}
      <li class="dropdown col-lg-12">
        <a href="#" class="dropdown-toggle" {{action 'ans' item}}>{{item.name}}
          <button data-toggle="dropdown" class="btn btn-sm  btn-primary dropdown-toggle useroption pull-right" type="button"><span class="glyphicon glyphicon-user pull-right"></span>
      </button>
      <ul class="dropdown-menu">
          <li><a href="#" {{action 'all'}}>View Answers <span class="glyphicon glyphicon-list pull-right"></span></a></li>
      <li class="divider"></li>
      <li><a href="#" {{action 'rmv' item}}>Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
  </ul>
  </a>
  </li>
  {{/each}}
  </div>
